html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    background: #EAF3FF;
    height: 100%;
    font-size: 16px;
    line-height: auto;
    overflow: hidden;
    background: linear-gradient(to top left, #FFD2D2, white, white, #EAF3FF);
    overflow: hidden;

}

@keyframes prompt-loader-animation {
    0% {

        transform: rotateZ(0deg) scale(1);
    }

    10% {
        transform: rotateZ(0deg) scale(1);
    }

    30% {
        transform: rotateZ(0deg) scale(1.2);
    }

    50% {
        transform: rotateZ(0deg) scale(1);
    }

    80% {
        transform: rotateZ(0deg) scale(1);
    }

    100% {
        transform: rotateZ(90deg) scale(1);
    }

}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes blinker {
    0% {
        color: black;
    }

    25% {
        color: black;
    }

    26% {
        color: transparent;
    }

    75% {
        color: transparent;
    }

    76% {
        color: black;
    }

    100% {
        color: black;
    }
}

.head {
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;
    background: #28282B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;

}

.logo {
    height: 4rem;
    width: 20px;
    background: redd;
    display: flex;
    align-items: center;
    justify-contentt: flex-start;
}

.logo {
    height: 100%;
}


#nav-icon {
    background: pinkk;
    height: 50%;
    width: 50vmin;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
}

.btn {

    height: 120%;
    aspect-ratio: 1/1;
    background: none;
    border: none;
}

#toast-message-div {
    width: 100%;
    height: 1.4rem;
    background: redd;
    display: flex;
    align-items: center;
    justify-content: center;
}


#toast-message {
    mik-width: 20%;
    height: 80%;
    display: flex;
    border-radius: 4px;
    color: #28282B;
    background: #00B7FF;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 400;

}

#main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: greyy;
    position: relative;
    flex-shrink: 1;

}

#body {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 9.4rem - 8px);
    scroll-behavior: smooth;
    position: relative;
    overflow: scroll;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    overflow-x: hidden;

}


#intro-div {
    box-sizing: border-box;
    width: 90%;
    max-width: 50rem;
    height: 90%;
    background: rgb(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    overflow-x: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#intro-head {
    width: 90%;
    min-height: 2rem;
    background: bluee;
    text-align: center;
    flex-shrink: 1;
    overflow: hidden;
}

#intro-body {
    width: 90%;
    min-height: 10%;
    background: greenn;
    text-align: center;
    padding: 5px;
    font-size: 0.7rem;
    overflow: hidden;
}

#intro-footer {
    width: 100%;
    max-height: 40%;
    background: redd;
    padding: 5px;
    gap: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}

#sample-prompts {
    width: 90%;
    max-width: 38rem;
    max-height: 27%;
    padding: 7px;
    padding-bottom: 7px;
    background: #28282B;
    border-radius: 7px;
    border: 1px solid black;
    font-size: .8rem;
    color: white;
    font-weight: 200;
    flex-shrink: 0;

}

#bottom {
    box-sizing: border-box;
    width: 100%;
    height: 4.5rem;
    background: bluee;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

#input-and-send-holder {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    background: rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    gap: 7px;
}

#input-holder {
    height: 85%;
    min-width: 50%;
    background: greenn;
    flex-grow: 1;
    z-index: 1;
}

#input {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    background: white;
    font-weight: 600;
    padding-left: 12px;
    font-size: 1rem;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
    padding-right: 15px;
    box-sizing: border-box;
}

#send-holder {
    height: 120%;
    aspect-ratio: 1/1;
    background: pinkk;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #28282B;
    border-radius: 50%;
}

#color-glow-block {
    width: 100%;
    height: 100%;
    background: #28282b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

#color-glow-effect {
    width: 110%;
    height: 110%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    visibility: hidden;


    background: conic-gradient(red, red, #FFD200, #00FF05, #00FF05, #00D5FF, blue, blue, #FF007F, red);
    animation: rotate 2s linear infinite;
}

#color-gradient {
    width: 120%;
    height: 120%;
    border-radius: 50%;
    /*  background: conic-gradient(red, red,#FFD200, #00FF05, #00FF05, #00D5FF,blue, blue, #FF007F, red);
        opacity: inheritt; */
    flex-shrink: 0;
    backdrop-filter: blur(3px);
    visibility: hidden;
}

#prompt-loader-holder {

    width: 85%;
    height: 85%;
    background: redd;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
}

#prompt-loader {
    width: 40%;
    height: 40%;
    background: white;
    animation: prompt-loader-animation 1.5s linear infinite;

}

#send {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #2d3438;
    color: white;
    font-weight: 500;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

#footer {
    box-sizing: border-box;
    height: 15px;
    width: 100%;
    background: redd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: .6rem;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 700;
    gap: -5px;
}

#cursor {
    animation: blinker 1s linear infinite running;
}










#queryArea {
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 1rem;
    background: rgb(200, 200, 200, .4);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    flex-shrink: 0;
}

#responseArea {
    width: 95%;
    min-height: 70px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 7px;
    font-size: 1rem;
    border: 1px solid black;
    background: rgb(190, 190, 225, .1);
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-itemss: flex-end;
    text-align: left;
    white-space: pre-wrap; 
}

#response-text {
    width: 100%;
    margin: 0;
    padding: 0;
}

#reactionArea {
    width: 100%;
    height: 1.8rem;
    background: redd;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: .4rem;
}

#copyArea {
    width: 95%;
    height: 1.8rem;
    background: bluee;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    gap: .4rem;
    margin: 0 auto;
}

.createdIconHold {
    height: 100%;
    aspect-ratio: 1/1;
    background: none;
    font-size: 3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitee;
    flex-shrink: 0;
}

.createdIconHold>svg {
    height: 2rem;
    width: 2rem;
}

#code-snippet-holder {
    margin-top: 10px;
    margin-bottom: 12px;
    width: 95%;
    min-height: 70px;
    color: white;
    border-radius: 5px;
    overflow: hidden;

}

#code-snippet {
    padding: 5px;
    width: 100%;
    miin-height: 70px;
    background: black;
    color: white;
    overflow: scroll;

}

#code-snippet-head {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 20px;
    background: grey;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    color: black;
    font-weight: bold;
}

#code-copy {
    height: 15px;
    width;
    20px;
    border: none;
    background: white;
}

/*NAVIGATION BAR STYLING*/
#navigation {
    background: #28282B;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding-top: .4rem;
    transition: .2s linear;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#navlinks {
    width: 63vw;
    height: 2rem;
    background: redd;
    flex-grow: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-bottom: 1px solid white;
}

#navlinks>span>a {
    color: white;
    margin: 7px;
    font-size: 1rem;
    text-decoration: none;
}

#cancel {
    width: 97%;
    height: 4.2rem;
    background: yelloww;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

#x-btn {
    height: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    background: pinkk;
    font-size: 1.2rem;
}

#cancel-btn {
    width: 50%;
    height: 50%;
    border: none;
    outline: none;
    background: none;

}

#nav-logo {
    width: 90%;
    height: 10%;
    background: grey;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto;
}

#navigation>hr {
    width: 90%;
    background: white;
    margin: 0 auto;
}

/*END OF NAVIGATION BAR STYLING*/





@media only screen and (max-width: 600px) {

    .top-navlinks {
        display: none;
    }

    #mobile-icons {
        display: flex;
    }

}

@media only screen and (min-width: 601px) {

    #mobile-icons {
        display: none;
    }

    .top-navlinks {
        display: flex;
    }

}